**/bin/
**/obj/
**/node_modules/
**/dist/
**/.angular/
**/.vs/
**/.idea/
.git/
.github/
deploy/agent-data/
deploy/data/
deploy/installer/output/
deploy/installer/publish/
**/*.user
**/*.env
**/appsettings.Production.json
src/web/Cartex.Web.Angular/public/i18n/
